In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('test.xlsx')

In [4]:
df.head()

,city,index,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,...,day_19,day_20,day_21,day_22,day_23,day_24,day_25,day_26,day_27,day_28
0,Anshan,aaus,0.738073,0.740425,0.745020,0.753030,0.761751,0.766009,0.769231,0.769288,...,0.766120,0.766539,0.771581,0.773552,0.772687,0.769593,0.765753,0.749268,0.731216,0.727607
1,Anshan,dau,23913.000000,24002.000000,24064.000000,23814.000000,23253.000000,23154.000000,22936.000000,22596.000000,...,22760.000000,23022.000000,22859.000000,22621.000000,22825.000000,23050.000000,23120.000000,23167.000000,23467.000000,23321.000000
2,Anshan,duration,9.571970,9.591320,10.235513,8.976777,8.882639,9.058727,10.211925,10.083590,...,10.098233,9.918273,10.253765,10.355694,10.056780,10.365736,9.994515,9.542174,9.614772,9.709030
3,Anshan,new_user,489.000000,480.000000,430.000000,410.000000,425.000000,437.000000,467.000000,460.000000,...,423.000000,442.000000,446.000000,416.000000,438.000000,468.000000,454.000000,375.000000,461.000000,516.000000
4,Anshan,retention,0.737340,0.739147,0.735705,0.725792,0.728422,0.732789,0.721486,0.742963,...,0.737698,0.743593,0.733190,0.744839,0.745542,0.741302,0.731488,0.736349,0.739933,0.726298

In [5]:
#number of cities
print('number of cities: {}'.format(len(df.city.unique())))

number of cities: 119

In [6]:
print(df.city.unique())
print(df['index'].unique())

['Anshan' 'Anshun' 'Anyang' 'Baoding' 'Baotou' 'Beijing' 'Binzhou'
 'Cangzhou' 'Changchun' 'Changsha' 'Changzhou' 'Chengdu' 'Chongqing'
 'Dali' 'Dalian' 'Dazhou' 'Deyang' 'Dezhou' 'Dongguan' 'Foshan' 'Fuyang'
 'Ganzhou' 'Guangzhou' 'Guilin' 'Guiyang' 'Haikou' 'Handan' 'Hangzhou'
 'Harbin' 'Hefei' 'Hengyang' 'Heze' 'Honghe' 'Huaian' 'Huhehaote'
 'Huizhou' 'Huzhou' 'Jiangmen' 'Jiaxing' 'Jieyang' 'Jilin' 'Jinan'
 'Jinhua' 'Jining' 'Jinzhong' 'Kaifeng' 'Kunming' 'Langfang' 'Lanzhou'
 'Lianyungang' 'Liaocheng' 'Linyi' 'Liupanshui' 'Liuzhou' 'Luoyang'
 'Luzhou' 'Maoming' 'Mianyang' 'Nanchang' 'Nanchong' 'Nanjing' 'Nanning'
 'Nantong' 'Nanyang' 'Ningbo' 'Qiandongnan' 'Qiannan' 'Qianxinan'
 'Qingdao' 'Qinhuangdao' 'Quanzhou' 'Qujing' 'Shanghai' 'Shangqiu'
 'Shangrao' 'Shantou' 'Shaoxing' 'Shenyang' 'Shenzhen' 'Shijiazhuang'
 'Suqian' 'Taian' 'Taiyuan' 'Tangshan' 'Tianjin' 'Weifang' 'Weihai'
 'Wenshan' 'Wenzhou' 'Wuhan' 'Wulumuqi' 'Wuxi' 'Xiamen' "Xi'an" 'Xianyang'
 'Xingtai' 'Xining' 'Xinxiang' 'Xuzhou' 'Yancheng' 'Yangzhou' 'Yantai'
 'Yibin' 'Yili' 'Yinchuan' 'Zaozhuang' 'Zhangjiakou' 'Zhangzhou'
 'Zhanjiang' 'Zhaoqing' 'Zhaotong' 'Zhengzhou' 'Zhenjiang' 'Zhongshan'
 'Zhoukou' 'Zhuhai' 'Zhumadian' 'Zibo' 'Zunyi']
['aaus' 'dau' 'duration' 'new_user' 'retention' 'revenue']

In [7]:
df[(df.city=='Anshan') & (df['index']=='dau')].drop(['city','index'],axis=1).values[0]

array([23913., 24002., 24064., 23814., 23253., 23154., 22936., 22596.,
       23048., 23083., 22584., 22509., 23388., 23133., 22486., 22619.,
       22753., 22466., 22760., 23022., 22859., 22621., 22825., 23050.,
       23120., 23167., 23467., 23321.])

In [8]:
#LB_Keogh distance
def LB_Keogh(s1,s2,r):
    LB_sum=0
    for ind,i in enumerate(s1):
        lb=min(s2[(ind-r if ind-r>=0 else 0):(ind+r)])
        ub=max(s2[(ind-r if ind-r>-0 else 0):(ind+r)])
        
        if i>ub:
            LB_sum=LB_sum+(i-ub)**2
        elif i<lb:
            LB_sum=LB_sum+(i-lb)**2
            
    return np.sqrt(LB_sum)

In [9]:
anshan_dau=df[(df.city=='Anshan') & (df['index']=='dau')].drop(['city','index'],axis=1).values[0]
anshun_dau=df[(df.city=='Anshun') & (df['index']=='dau')].drop(['city','index'],axis=1).values[0]
anshan_aaus=df[(df.city=='Anshan') & (df['index']=='aaus')].drop(['city','index'],axis=1).values[0]
anshun_aaus=df[(df.city=='Anshun') & (df['index']=='aaus')].drop(['city','index'],axis=1).values[0]

In [10]:
#LB_Keogh test
print(LB_Keogh(anshan_dau,anshun_dau,2))
print(LB_Keogh(anshun_dau,anshan_dau,2))
print(LB_Keogh(anshan_aaus,anshun_aaus,2))
print(LB_Keogh(anshun_aaus,anshan_aaus,2))

16475.385033437004
16277.329234244788
0.1583150600997666
0.14899893798297606

In [11]:
def DTWDistance(s1,s2,w):
    DTW={}
    
    w = max(w, abs(len(s1)-len(s2)))
    
    for i in range(-1,len(s1)):
        for j in range(-1,len(s2)):
            DTW[(i,j)]=float('inf')
    
    DTW[(-1,-1)]=0
    
    for i in range(len(s1)):
        for j in range(max(0,i-w),min(len(s2),i+w)):
            dist=(s1[i]-s2[j])**2
            DTW[(i,j)]=dist+min(DTW[(i-1,j)],DTW[(i,j-1)],DTW[(i-1,j-1)])
    
    return np.sqrt(DTW[len(s1)-1,len(s2)-1])

In [12]:
#DTW test
print(DTWDistance(anshan_dau,anshun_dau,28))
print(DTWDistance(anshun_dau,anshan_dau,28))
print(DTWDistance(anshan_aaus,anshun_aaus,28))
print(DTWDistance(anshun_aaus,anshan_aaus,28))

17567.11211326438
17567.11211326438
0.13023098297137553
0.13023098297137553

In [13]:
#function to generate city matrix
fea_list=list(df['index'].unique())

def city_m(city_name):
    dfsub=df[df.city==city_name]
    df_city={}
    
    
    for i in fea_list:
        df_city.update({i : dfsub[dfsub['index']==i].drop(['city','index'],axis=1).values[0]})
    
    return pd.DataFrame(df_city)

In [14]:
#function to calculate the distance between two cities

def Dis_city(city_1,city_2):
    
    Dis_list=[]
    
    for i in fea_list:
        Dis_list.append(DTWDistance(city_1[i].values,city_2[i].values,28))
    
    return Dis_list

In [15]:
n_city=len(df.city.unique())
city_list=list(df.city.unique())

In [16]:
MDis=np.zeros(shape=(n_city,n_city,len(fea_list)))
for i in range(n_city):
    for j in range(n_city):
        MDis[i,j,]=Dis_city(city_m(city_list[i]),city_m(city_list[j]))

In [17]:
#normalized funtion (min>0)
def _nor(matrix):
    _min=np.min(matrix[np.nonzero(matrix)])
    _max=np.max(matrix[np.nonzero(matrix)])
    _range=_max-_min
    return (matrix-_min)/_range

In [18]:
#distance matrix
Dis_M=np.zeros((n_city,n_city))
for i in range(len(fea_list)):
    Dis_M+=_nor(MDis[:,:,i])

In [19]:
#normalized funtion (min=0)
def _nor0(matrix):
    _min=np.min(matrix)
    _max=np.max(matrix)
    _range=_max-_min
    return (matrix-_min)/_range

In [20]:
#distance matrix with min=0
Dis_M0=np.zeros((n_city,n_city))
for i in range(len(fea_list)):
    Dis_M0+=_nor0(MDis[:,:,i])

In [21]:
#udf k-means

import random

def k_mean_clust(DM, num_clust, num_iter, seed):
    random.seed(seed)
    centroids = random.sample(range(n_city), num_clust)
    counter=0
    for n in range(num_iter):
        counter+=1
        #print(counter)
        assignments={}
        #assign data points to clusters
        for i in range(n_city):
            min_dist=float('inf')
            closest_clust=None
            for j in range(num_clust):
                if DM[i,centroids[j]]<min_dist:
                    cur_dist=DM[i,centroids[j]]
                    if cur_dist<min_dist:
                        min_dist=cur_dist
                        closest_clust=centroids[j]
            if closest_clust in assignments:
                assignments[closest_clust].append(i)
            else:
                assignments[closest_clust]=[]
        
        
        #reset the centroids of clusters
        for key in assignments:
            min_total_dis=float('inf')
            tem_key=key
            for k in assignments[key]:
                cur_total_dis=0
                for l in assignments[key]:
                    cur_total_dis+=DM[k,l]
                if cur_total_dis<min_total_dis:
                    min_total_dis=cur_total_dis
                    tem_key=k
            centroids[centroids.index(key)]=k
    return centroids